.introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  font-size: 36px;

  .logowrap {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-width: fit-content;
    z-index: 99;
    
    .shinsen {
      font-family: baskervville;
      font-size: 4rem;
    }
  
    .lounge {
      display: flex;
      width: 100%;
      justify-content: space-between;
      overflow: hidden;

      .text {
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        color: var(--white);
      }
    }
  }
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: #202639;
  z-index: 2;
  left: 0;
  top: 0;
}
