@font-face {
  font-family: pp mori;
  src:
  url('/shinsen/public/fonts/PPMori-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  // margin: -24svh 0 6rem 0;
  width: 100%;
  gap: 6rem;
  padding: 0 10vw 0 10vw;
  
  .imgwrap {
    // display: flex;
    // position: relative;
    // box-sizing: border-box;
    // max-width: 100%;
    // height: 50vw;
    // border-radius: 14px;
    
  }

  .aboutwrap {
    display: flex;
    justify-content: space-between;
    gap: 14vw;

    .story {
      display: flex;
      font-family: pp mori;
      font-size: 1.6rem;
      gap: .2rem;
      flex-direction: column;
      min-width: fit-content;

      .fresh1 {
        font-family: baskerville;
        font-size: 1.6rem;
      }
      .fresh2 {
        font-family: baskerville;
        font-style: italic;
      }
    }

    .about {
      display: flex;
      flex-direction: column;
      gap: 6rem;
      font-size: 1.6rem;
      font-family: pp mori;
      // line-height: 200%;
      letter-spacing: -.2px;

      .firstdesc {
        font-family: baskervville;
        font-size: 3rem;
      }

      .scnddesc {
        line-height: 170%;
      }
    }
  }

  .line {
    display: flex;
    border: solid 1px #2E2E31;
  }
}

@media (max-width: 1300px) {
  .container {

    .aboutwrap {
      flex-direction: column;
      gap: 2rem;

      .about {
        padding-top: 2rem;

      }
    }
  }
}


@media (max-width: 1000px) {
  .container {
    padding: 2rem 2rem 0 2rem;
    margin-top: 4rem;

    .aboutwrap {
      .about {
        .firstdesc {
          font-size: 5.4vw;
          letter-spacing: .2px;
        }

        .scnddesc {
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .container {
    padding: 1.2rem;
  }
}
