.container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-height: fit-content;
  gap: 3rem;
  padding: 0 7vw 20vh 7vw;

  .location {
    display: inline-flex;
    font-size: 1.6rem;
    font-family: pp mori;
    position: absolute;
    flex-wrap: nowrap;
    min-width: fit-content;
  }
  
  .infowrap {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    // gap: 120px;
    

    
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      padding-right: 3rem;
      
      .addywrap {
        display: flex;
        flex-direction: column;
      }
      .address {
        font-family: pp mori;
        font-size: 1.6rem;
        letter-spacing: -.3px;
        min-width: 15vw;
        max-width: 15vw;
        white-space: nowrap;
      }
      
      .mapbutton {
        display: flex;
        white-space: nowrap;
        width: fit-content;
        font-family: pp mori;
        padding: 24px 68px 24px 68px;
        border: solid 1px var(--white);
        border-radius: 200px;
        gap: 8px;
        transition: all .4s cubic-bezier(0.065, 0.82, 0.165, .96);
        cursor: pointer;
      }
      
      .mapbutton:hover {
        background-color: var(--white);
        color: var(--black);
      }

      .line {
        height: 10px;
      }

    }

    .imgwrap {
      display: flex;
      position: relative;
      box-sizing: border-box;
      width: 100%;
      // height: 60vh;
      aspect-ratio: 16/10;
      border-radius: 14px;
      margin-bottom: 48px;
  
      img {
        position: relative;
        object-fit: cover;
        border-radius: 14px;
  
      }
    }
    
  }
}

@media (max-width: 1000px) {
  .container {
    height: auto;
    padding: 0 2rem 6rem 2rem;
    flex-direction: column;

    .location {
      display: flex;
      position: relative;
    }

    .infowrap {
      position: relative;
      flex-direction: column;

      .info {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: unset;

        .mapbutton {
          justify-content: center;
          padding: 24px 60px 24px 60px;
          width: 45%;

        }
      }
    }
  }
}

@media (max-width: 585px) {
  .infowrap {
    .info {
      .addywrap {

        .address {
          font-size: 1.1rem;
        }
      }
    }
  }
}
