@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: pp mori;
  src:
  url('/fonts/mori/PPMori-Regular.woff2') format('woff2'),
  url('/fonts/mori/PPMori-Regular.ttf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: baskervville;
  src: url('/fonts/baskerville/Baskervville-Regular.otf')format('opentype');
  font-weight: normal;
  font-style: normal;
} */

:root {
  --black: #161618;
  --white: #E7E7EB;
  --gold: #CBAA56;
  --goldhovered: #FFD465;
  --green: #65946C;
  --buttongray: #212124;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.container {
  font-family: pp mori;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--black);
  height: 100%;
  background-image: url('/background.png');
  background-attachment: fixed;
  box-sizing: border-box;
}

p {
  font-family: pp mori;
  -webkit-font-smoothing: antialiased;
  color: var(--white);
  font-size: 1.1rem;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

@media (max-width: 550px) {
  p {
    font-size: 1rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

